<table class="table table-bordered">
  <thead>
    <tr>
      <th colspan="2">Quantities {{ flowType }}</th>
    </tr>
  </thead>
  <tbody [formGroup]="totalsForm">
    <tr>
      <th>Total Parcel to {{ flowType }}</th>
      <td>{{ totalsForm.value.initialTon }}</td>
    </tr>
    <tr>
      <th>Previous {{ flowType }}</th>
      <td>{{ totalsForm.value.previous }}</td>
    </tr>
    <tr>
      <th>{{ flowType }} Today</th>
      <td>
        <input
          type="text"
          class="form-control"
          formControlName="perDay"
          (input)="onPerDayInput($event)" />
      </td>
    </tr>
    <tr>
      <th>Total {{ flowType }}</th>
      <td>{{ totalsForm.value.ttl }}</td>
    </tr>
    <tr>
      <th>To be {{ flowType }}</th>
      <td>{{ totalsForm.value.toBeDischarge }}</td>
    </tr>
  </tbody>
</table>
