<p class="h4">Quantities Received Per</p>
<div class="row">
  <div class="col-12 col-sm-6 col-md-3">
    <select
      class="form-select"
      [(ngModel)]="showQttTables.showGeneralQtt"
      (change)="onShowTableChange()"
      [ngModelOptions]="{ standalone: true }">
      <option [ngValue]="true">Mostrar Tabla</option>
      <option [ngValue]="false">No Mostrar</option>
    </select>
  </div>
</div>
<div class="row mt-2">
  <div class="col-12 col-lg-5">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th colspan="2">Quantities {{ flowName }}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>Total Parcel to {{ flowName }}</th>
          <td><input
            type="text"
            class="form-control"
            [(ngModel)]="manualTable.initialTon"
            (input)="manualTableInputHandler()"/></td> 
        </tr>
        <tr>
          <th>Previous {{ flowName }}</th>
          <td>  <input
            type="text"
            class="form-control"
            [(ngModel)]="manualTable.previous"
            (input)="manualTableInputHandler()"/></td>
        </tr>
        <tr>
          <th>{{ flowName }} Today</th>
          <td>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="manualTable.perDay"
              (input)="manualTableInputHandler()"/>
          </td>
        </tr>
        <tr>
          <th>Total {{ flowName }}</th>
          <td>{{ manualTable.ttl }} </td>
        </tr>
        <tr>
          <th>To be {{ flowName }}</th>
          <td> {{ manualTable.toBeDischarge }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<p class="h4 text-capitalize">{{ flowType }}</p>
<div class="row mt-2">
  <div class="col-12 col-sm-6 col-md-3">
    <select
      class="form-select"
      [(ngModel)]="showQttTables.showReceiversQtt"
      (change)="onShowTableChange()"
      [ngModelOptions]="{ standalone: true }">
      <option [ngValue]="true">Mostrar Tabla</option>
      <option [ngValue]="false">No Mostrar</option>
    </select>
  </div>
</div>
<div class="row mt-2">
  <div class="col-12">
    <div class="table-responsive-md">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th colspan="6">{{ flowType }}</th>
          </tr>
          <tr>
            <th></th>
            <th>Initial Tonnage</th>
            <th>Previous {{ flowName }}</th>
            <th>Day {{ flowName }}</th>
            <th>TTL {{ flowName }}</th>
            <th>To Be {{ flowName }}</th>
          </tr>
        </thead>
        @if (quantities[date]) {
        <tbody>
            @for (item of quantities[date]['receivers'].data; track $index) {
              <tr>
                <th>{{ item['name'] }}</th>
                <td>{{ item.initialTon }}</td>
                <td>{{ item.previous }}</td>
                <td>
                  <input
                    type="text"
                    [(ngModel)]="quantities[date]['receivers'].data[$index].perDay"
                    (input)="receiversQttInputHandler()" />
                </td>
                <td>{{ item.ttl }}</td>
                <td>{{ item.toBeDischarge }}</td>
              </tr>
            } @empty {
              <tr>
                <td colspan="6">No hay datos</td>
              </tr>
            }
          </tbody>
          <tfoot >
            <tr>
              <th>Totales</th>
              <td>{{ quantities[date]['receivers'].ttl.initialTon }}</td>
              <td>{{ quantities[date]['receivers'].ttl.previous }}</td>
              <td>{{ quantities[date]['receivers'].ttl.perDay }}</td>
              <td>{{ quantities[date]['receivers'].ttl.ttl }}</td>
              <td>{{ quantities[date]['receivers'].ttl.toBeDischarge }}</td>
            </tr>
          </tfoot>
        }
      </table>
    </div>
  </div>
</div>

<p class="h4">Products</p>
<div class="row mt-2">
  <div class="col-12 col-sm-6 col-md-3">
    <select
      class="form-select"
      [(ngModel)]="showQttTables.showProductsQtt"
      (change)="onShowTableChange()"
      [ngModelOptions]="{ standalone: true }">
      <option [ngValue]="true">Mostrar Tabla</option>
      <option [ngValue]="false">No Mostrar</option>
    </select>
  </div>
</div>
<div class="row mt-2">
  <div class="col-12">
    <div class="table-responsive-md">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th colspan="6">Products</th>
          </tr>
          <tr>
            <th></th>
            <th>Initial Tonnage</th>
            <th>Previous {{ flowName }}</th>
            <th>Day {{ flowName }}</th>
            <th>TTL {{ flowName }}</th>
            <th>To Be {{ flowName }}</th>
          </tr>
        </thead>
        @if (quantities[date]) {
          <tbody>
            @for (item of quantities[date]['products'].data; track $index) {
              <tr>
                <th>{{ item['name'] }}</th>
                <td>{{ item.initialTon }}</td>
                <td>{{ item.previous }}</td>
                <td>
                  <input
                    type="text"
                    [(ngModel)]="quantities[date]['products'].data[$index].perDay"
                    (input)="productsQttInputHandler()" />
                </td>
                <td>{{ item.ttl }}</td>
                <td>{{ item.toBeDischarge }}</td>
              </tr>
            } @empty {
              <tr>
                <td colspan="6">No hay datos</td>
              </tr>
            }
          </tbody>
          <tfoot>
            <tr>
              <th>Totales</th>
              <td>{{ quantities[date]['products'].ttl.initialTon }}</td>
              <td>{{ quantities[date]['products'].ttl.previous }}</td>
              <td>{{ quantities[date]['products'].ttl.perDay }}</td>
              <td>{{ quantities[date]['products'].ttl.ttl }}</td>
              <td>{{ quantities[date]['products'].ttl.toBeDischarge }}</td>
            </tr>
          </tfoot>
        }
      </table>
    </div>
  </div>
</div>

<p class="h4">Holds</p>
<div class="row mt-2">
  <div class="col-12 col-sm-6 col-md-3">
    <select
      class="form-select"
      [(ngModel)]="showQttTables.showHoldsQtt"
      (change)="onShowTableChange()"
      [ngModelOptions]="{ standalone: true }">
      <option [ngValue]="true">Mostrar Tabla</option>
      <option [ngValue]="false">No Mostrar</option>
    </select>
  </div>
</div>
<div class="row mt-2">
  <div class="col-12">
    <div class="table-responsive-md">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th colspan="7">Holds</th>
          </tr>
          <tr>
            <th></th>
            <th>Cargo</th>
            <th>Initial Tonnage</th>
            <th>Previous {{ flowName }}</th>
            <th>Day {{ flowName }}</th>
            <th>TTL {{ flowName }}</th>
            <th>To Be {{ flowName }}</th>
          </tr>
        </thead>
        @if (quantities[date]) {
          <tbody>
            @for (item of quantities[date]['holds'].data; track $index) {
              <tr>
                <th>{{ item['name'] }}</th>
                <td>
                  @if (holdCargos[$index] !== undefined) {
                    <input
                    type="text"
                    [(ngModel)]="holdCargos[$index].cargo"
                    (input)="holdsQttInputHandler()" />
                  } @else {
                    {{ '' }}
                  }
                </td>
                <td>{{ item.initialTon }}</td>
                <td>{{ item.previous }}</td>
                <td>
                  <input
                    type="text"
                    [(ngModel)]="quantities[date]['holds'].data[$index].perDay"
                    (input)="holdsQttInputHandler()" />
                </td>
                <td>{{ item.ttl }}</td>
                <td>{{ item.toBeDischarge }}</td>
              </tr>
            } @empty {
              <tr>
                <td colspan="7">No hay datos</td>
              </tr>
            }
          </tbody>
          <tfoot>
            <tr>
              <th>Totales</th>
              <th></th>
              <td>{{ quantities[date]['holds'].ttl.initialTon }}</td>
              <td>{{ quantities[date]['holds'].ttl.previous }}</td>
              <td>{{ quantities[date]['holds'].ttl.perDay }}</td>
              <td>{{ quantities[date]['holds'].ttl.ttl }}</td>
              <td>{{ quantities[date]['holds'].ttl.toBeDischarge }}</td>
            </tr>
          </tfoot>
        }
      </table>
    </div>
  </div>
</div>