@import '../../../../../../node_modules/bootstrap/scss/functions';
@import '../../../../../../node_modules/bootstrap/scss/variables';
@import '../../../../../../node_modules/bootstrap/scss/mixins';

.footer {
    width: 100%;
    height: 50px;
}

@include media-breakpoint-up(lg) {
  .container {
    padding-left: 15%;
    padding-right: 15%;

    .row {
        justify-content: left !important;
      }
  }
}
