<div class="container">
  <div class="row mt-2">
    <p class="h3" *ngIf="!editMode">Alta de barco</p>
  </div>
  <p class="h1" *ngIf="editMode">Edición de un barco</p>
  <form class="form-group" [formGroup]="altaBarcoForm">
    <ng-container formGroupName="shipParticulars">
      <label class="col-form-label">Name</label>
      <div class="col">
        <input type="text" class="form-control" formControlName="name" />
      </div>
      <ngb-alert
        class="mt-2"
        *ngIf="validateFormControl('name')"
        type="danger"
        (closed)="onValidAlertClose('name')"
        >Este campo es obligatorio.</ngb-alert
      >
      <div
        class="row form-group"
        *ngFor="
          let property of [
            { flag: 'Flag' },
            { imo: 'Imo' },
            { callSign: 'Call Sign' },
            { dwt: 'DWT' },
            { built: 'Built' },
            { beam: 'Beam' },
            { loa: 'LOA' },
            { grt: 'GRT' },
            { nrt: 'NRT' },
            { hH: 'H/H' },
            { cranes: 'Cranes' },
          ];
          let i = index
        "
      >
        <label class="col-form-label">{{ getEntries(property).at(1) }}</label>
        <div class="col">
          <input
            type="text"
            class="form-control"
            formControlName="{{ getEntries(property).at(0) }}"
          />
        </div>
      </div>
    </ng-container>
  </form>
  <div class="row mt-3 justify-content-center">
    <div class="col-6">
      <button
        (mousedown)="onSubmit()"
        type="button"
        class="btn btn-primary w-100"
      >
        Guardar barco
      </button>
    </div>
    <div *ngIf="saveAlertMss" class="col-6">
      <ngb-alert
        *ngIf="saveAlertMss"
        [type]="saveAlertType"
        #saveAlert
        (closed)="onSaveAlertClose()"
        >{{ saveAlertMss }}</ngb-alert
      >
    </div>
  </div>
  <div class="footer">
    <span></span>
  </div>
</div>
