<div class="row">
  <div
    class="col-auto"
    [style]="{ 'background-color': color, width: '10px' }"
  ></div>
  <div class="col">
    <form [formGroup]="form">
      <h4>{{ title }}</h4>
      <div class="row flex-wrap">
        <div class="col-4 col-sm-3 col-md-2">
          <label class="form-label">Start Time</label>
          <input
            type="text"
            class="form-control"
            (input)="formatTime($event.target)"
            [(ngModel)]="startTime"
            #startTimeInput
            [ngModelOptions]="{ standalone: true }"
          />
        </div>
        <div class="col-4 col-sm-3 col-md-2">
          <label class="form-label">End Time</label>
          <input
            type="text"
            class="form-control"
            (input)="formatTime($event.target)"
            [(ngModel)]="endTime"
            [ngModelOptions]="{ standalone: true }"
          />
        </div>
        <div class="col-10 col-md-7">
          <label class="form-label">Description</label>
          <div
            class="input-group"
            ngbDropdown
            #descriptionDropdown="ngbDropdown"
          >
            <input
              class="form-control"
              [(ngModel)]="description"
              [ngModelOptions]="{ standalone: true }"
              type="text"
              ngbDropdownAnchor
              #descriptionInput
              (input)="descriptionDropdown.open()"
            />
            <div ngbDropdownMenu>
              <button
                *ngFor="let item of sortAutoComField(descriptionInput.value)"
                ngbDropdownItem
                (click)="description = item"
              >
                {{ item }}
              </button>
            </div>
          </div>
        </div>
        <div class="col-2 col-md-1">
          <label class="form-label">&nbsp;</label>
          <button (click)="addTime()" class="btn btn-outline-primary w-100">
            +
          </button>
        </div>
        <ngb-alert
          *ngIf="showTimesAlert"
          class="mt-4"
          type="warning"
          (closed)="showTimesAlert = false"
        >
          <strong>Precaución!</strong> No hay ninguna fecha seleccionada.
          Recuerda incluir tu fecha y seleccionarla.
        </ngb-alert>
      </div>
      <hr />
      <div formArrayName="times" class="overflow bg-light p-2 pb-4">
        <div
          *ngFor="let item of times.controls; let i = index"
          class="row mt-2 flex-nowrap"
          [formGroupName]="i"
        >
          <div class="col-3 col-md-2">
            <input
              type="text"
              class="form-control"
              formControlName="startTime"
              (input)="formatTime($event.target); emitTimeEvent()"
            />
          </div>
          <div class="col-3 col-md-2">
            <input
              type="text"
              class="form-control"
              formControlName="endTime"
              (input)="formatTime($event.target); emitTimeEvent()"
            />
          </div>
          <div class="col-7 col-md-7">
            <input
              type="text"
              class="form-control"
              formControlName="description"
              (input)="emitTimeEvent()"
            />
          </div>
          <div class="col-2 col-md-1">
            <button (click)="deleteTime(item)" class="btn btn-outline-danger">
              X
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
