@import '@/bootstrap/scss/functions';
@import '@/bootstrap/scss/variables';
@import '@/bootstrap/scss/mixins';
@import 'src/utilities/variables';

.footer {
    width: 100%;
    height: 25px;
}

@include media-breakpoint-up(lg) {
  .container {
    padding-left: 20%;
    padding-right: 20%;;
    }
}
