@use "../node_modules/bootstrap/scss/bootstrap.scss" as *;
@use "../node_modules/bootstrap-icons/font/bootstrap-icons.css" as *;

// My own styles
:root {
    --custom-stronger:#185477;
    --custom-middle: #328A92;
    --custom-middle-more: #71c4cc;
    --custom-soft: #CEEAED;
    --custom-softer: #e8f2f3;
    --custom-blue-one: #2298D2;
}