@use "../node_modules/bootstrap/scss/bootstrap.scss" as *;
@use "../node_modules/bootstrap-icons/font/bootstrap-icons.css" as *;

// My own styles
:root {
  --custom-stronger: #185477;
  --custom-middle: #328a92;
  --custom-middle-more: #71c4cc;
  --custom-soft: #ceeaed;
  --custom-softer: #e8f2f3;
  --custom-blue-one: #2298d2;
}
