@use "../../utilities/variables";

nav {
    background-color: white; // soft
    min-height: 64px;
}

.spacer {
    padding-bottom: 4.5em;
}

#side-menu-toggler {
    border: none;
}

.bi-three-dots-vertical {
    color: green; // stronger
    font-size: 1.2em;
}