section {
    max-width: 8.2677in;
    margin-left: 5%;
    margin-right: 5%;

    .page-border {
        border: 1px dotted black;
        padding: 2em;
        border-radius: 10px;
    }

    .img-container {
        display: inline-block;
        width: 250px;

        img {
            width: 100%;
        }
    }


    .sign-box {
        width: 200px;
    }

    .signature {
        border: 0;
        border-bottom: 1px solid #000;
        width: 100%;
    }

    .goodbye-box {
        width: 300px !important;
    }

    .footer {
        height: 60px;
    }

}

@media print {
    @page {
        size: letter;
    }

    section {
        -webkit-print-color-adjust: exact;
        width: 8.2677in; // Exact A4 print width in inches
        margin: 0%;
    }

    .page-border {
        border: none !important;
        padding: 1em !important;
    }

}

$lg: 994px;
@media (min-width: $lg) {
    section {
        margin: auto;
    }
}