@import "../../../utilities/variables.scss";
// importar funciones, mixins yvariables de bootstrap
// @import 'node_modules/bootstrap/scss/functions';
// @import 'node_modules/bootstrap/scss/variables';
// @import 'node_modules/bootstrap/scss/mixins';

// [ ] Correct styles
// @include media-breakpoint-up(md) {
//     .container {
//         margin-left: 25%;
//     }
// }

@media print {
    @page {
        size: letter
    }
    
    .container {
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
        margin: 0;
        padding: 0;
    }

    table {
        tr {
            page-break-inside: avoid;
        }
    }

}
