<section
  *ngIf="isDataLoaded"
  class="d-flex flex-column justify-content-center mt-1" style="
  font-family: Tahoma, sans-serif;
">
  <p class="h3 mb-3" [ngStyle]="st.title">Liquidacion de embarque</p>
  <tr></tr>
  <table border="1px solid black" class="table-receivers-cargos" [ngStyle]="st.table">
    <tbody>
      <tr>
        <th colspan="6" class="title">
          {{ port }}: Arribo: Finalizacion Operación:
        </th>
      </tr>
    </tbody>
    <tbody class="thead">
      <tr>
        <th width="220">{{ flowType }}</th>
        <th width="220">Cargo</th>
        <th width="65">BL</th>
        <th width="110">BL Weight</th>
        <th width="110">S.Scale Weight</th>
        <th width="110">Diff</th>
      </tr>
    </tbody>
    <tbody>
      <tr *ngFor="let rec of recData">
        <td width="220">{{ rec[1].name }}</td>
        <td width="220">{{ rec[1].producto }}</td>
        <td width="65">{{ blData[rec[0]].bl }}</td>
        <td width="110">{{ blData[rec[0]].weight | tonFormat }}</td>
        <td width="110">{{ blData[rec[0]].scale | tonFormat }}</td>
        <td width="110">{{ blData[rec[0]].diff }}</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td class="empty-cell" colspan="2"></td>
        <td class="total-cell">TTL</td>
        <td class="total-cell">{{ ttl.weight }}</td>
        <td class="total-cell">{{ ttl.scale }}</td>
        <td class="total-cell">{{ ttl.diff }}</td>
      </tr>
    </tfoot>
  </table>
  <tr></tr>
</section>
