<div class="container">
  <form [formGroup]="registerForm">
    <p class="h3 mt-2">Primeras opciones</p>
    <hr />
    <app-vessel-card
      [vesselList]="vesselsList"
      [editMode]="editMode"></app-vessel-card>
    <div class="mb-2 mt-2">
      <label for="formSelectGroup"
        >Seleccione si es importación o exportación</label
      >
      <select class="form-control" formControlName="flow">
        <option>Importacion</option>
        <option>Exportacion</option>
      </select>
    </div>
    <div class="form-group">
      <label for="form-label">Número de viaje</label>
      <input type="text" ngClass="form-control" formControlName="vesselTrips" />
    </div>

    <p class="h3 mt-4">Cargo details</p>
    <hr />
    <div class="form-group mb-2">
      <label class="form-label">LOADING PORT</label>
      <input
        type="text"
        ngClass="form-control"
        formControlName="loadingPort"
        #loadingInput />
    </div>
    <div class="form-group mb-2">
      <label for="form-label">TOTAL SHIPMENT</label>
      <input type="text" class="form-control" formControlName="totalShipment" />
    </div>
    <div ngClass="form-group mb-2">
      <label for="form-label">CARGO</label>
      <input type="text" class="form-control" formControlName="cargo" />
    </div>

    <p class="h3 mt-4">Añadir puertos</p>
    <hr />
    <p>Utilice los botones para añadir y borrar los puertos seleccionados.</p>
    <div class="row">
      <div class="col-6">
        <select #portSelection class="form-control custom-select">
          <option *ngFor="let port of portsList">
            {{ port }}
          </option>
        </select>
      </div>
      <div class="col-3 gx-1">
        <button
          (click)="addPort(portSelection.value)"
          type="button"
          class="btn btn-sm btn-primary w-100">
          Add
        </button>
      </div>
      <div class="col-3 gx-2">
        <button
          type="button"
          class="btn btn-sm btn-danger w-100"
          (click)="onDeletePort(portSelection.value)">
          Delete
        </button>
      </div>
    </div>
    <hr />
    <div class="list-group port-item mt-2" *ngFor="let port of workingPorts">
      <a
        (click)="portSelection.value = port"
        class="list-group-item list-group-item port-item"
        [class.selected]="portSelection.value === port">
        {{ port }}</a
      >
    </div>

    <p class="h3 mt-4">Port Calls</p>
    <hr />
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Port</th>
          <th>Cantidad</th>
        </tr>
      </thead>
      <tbody formArrayName="portCalls">
        <tr
          *ngFor="let port of portCalls.controls; let i = index"
          [formGroupName]="i">
          <td>{{ port.value.port }}</td>
          <td>
            <input
              type="text"
              formControlName="cantidad"
              class="form-control" />
          </td>
        </tr>
      </tbody>
    </table>

    <p class="h3 mt-4">Stowage Plan</p>
    <hr />
    <div class="row mt-3 mb-3 stowage-buttons">
      <div class="col-6 col-lg-3">
        <button (click)="addHold()" class="btn btn-primary w-100">
          Add Hold
        </button>
      </div>
      <div class="col-6 col-lg-3">
        <button (click)="removeHold()" class="btn btn-danger w-100">
          Remove Last
        </button>
      </div>
    </div>

    <!-- Table -->
    <div class="table-responsive">
      <table
        class="table table-striped general-table mt-2"
        formGroupName="stowagePlan">
        <thead>
          <th class="text-center small-col">Hold</th>
          <th class="text-center bigger-col">Cargo</th>
          <th class="text-center middle-col">General</th>
          <ng-container *ngFor="let port of workingPorts">
            <th class="middle-col">{{ port }}</th>
          </ng-container>
        </thead>
        <tbody formArrayName="data">
          <tr
            *ngFor="let port of stowagePlan.controls; let i = index"
            [formGroupName]="i">
            <th class="small-col">
              <input
                type="text"
                class="form-control"
                formControlName="hold"
                readonly />
            </th>
            <td class="bigger-col">
              <input type="text" class="form-control" formControlName="cargo" />
            </td>
            <td class="middle-col">
              <input
                type="text"
                class="form-control"
                (input)="updateTotals('general')"
                formControlName="general" />
            </td>
            <ng-container *ngFor="let port of workingPorts">
              <td class="middle-col">
                <input
                  type="text"
                  class="form-control"
                  (input)="updateTotals(port)"
                  formControlName="{{ port }}" />
              </td>
            </ng-container>
          </tr>
        </tbody>
        <tfoot *ngIf="isThereHolds" formGroupName="totales">
          <tr>
            <th class="small-col"></th>
            <th class="bigger-col text-end">Totals</th>
            <td class="middle-col">
              <input
                type="text"
                readonly
                class="form-control"
                formControlName="general" />
            </td>
            <ng-container *ngFor="let port of workingPorts">
              <td class="middle-col">
                <input
                  type="text"
                  class="form-control"
                  readonly
                  formControlName="{{ port }}" />
              </td>
            </ng-container>
          </tr>
        </tfoot>
      </table>
    </div>

    <p class="h3 mt-4">Calados</p>
    <hr />
    <table class="table table-striped calados-table">
      <thead>
        <tr>
          <th>Port</th>
          <th>Foreward</th>
          <th>Afterward</th>
        </tr>
      </thead>
      <tbody formArrayName="calados">
        <tr
          *ngFor="let port of calados.controls; let i = index"
          [formGroupName]="i">
          <td>{{ port.value.port }}</td>
          <td>
            <input
              type="text"
              formControlName="foreward"
              class="form-control" />
          </td>
          <td>
            <input
              type="text"
              formControlName="afterward"
              class="form-control" />
          </td>
        </tr>
      </tbody>
    </table>

    <h3 class="mt-4">Destinatarios</h3>
    <hr />
    <div class="d-flex flex-column gap-2 flex-md-row gap-md-1">
      <div class="col-12 col-md-3">
        <div class="input-group" ngbDropdown #companieDropdown="ngbDropdown">
          <input
            class="form-control"
            [(ngModel)]="companie"
            [ngModelOptions]="{ standalone: true }"
            type="text"
            placeholder="Companie"
            ngbDropdownAnchor
            #companieInput
            (input)="companieDropdownHandler($event)" />
          <div ngbDropdownMenu>
            <button
              *ngFor="let item of autoCompleteDataFiltered"
              ngbDropdownItem
              (click)="companie = item">
              {{ item }}
            </button>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-3">
        <input
          class="form-control"
          [(ngModel)]="names"
          [ngModelOptions]="{ standalone: true }"
          type="text"
          placeholder="Names" />
      </div>
      <div class="col-12 col-md-3">
        <select #role class="form-control custom-select">
          <option selected hidden value="0">Seleccione un rol</option>
          <option *ngFor="let role of roleList">
            {{ role }}
          </option>
        </select>
      </div>
      <div class="col-12 col-sm-3">
        <button
          (click)="addDestinatario(); companieInput.focus()"
          class="btn btn-primary w-100">
          Añadir
        </button>
      </div>
    </div>

    <div class="table-destinatarios table-responsive-md">
      <table class="table table-striped general-table">
        <thead>
          <tr>
            <th>Companie</th>
            <th>Names</th>
            <th>Role</th>
          </tr>
        </thead>
        <tbody formArrayName="destinatarios">
          <tr
            *ngFor="let destinatario of destinatarios.controls; let i = index"
            [formGroupName]="i">
            <td class="bigger-col">
              <input
                type="text"
                formControlName="companie"
                class="form-control" />
            </td>
            <td class="bigger-col">
              <textarea
                type="text"
                rows="3"
                formControlName="names"
                #textArea
                class="form-control"
                (input)="onTextAreaResize(textArea)"></textarea>
            </td>
            <td class="bigger-col">
              <select formControlName="role" class="form-control custom-select">
                <option *ngFor="let role of roleList" value="{{ role }}">
                  {{ role }}
                </option>
              </select>
            </td>
            <td>
              <button
                (click)="onDeleteDestinatario(destinatario)"
                class="btn btn-danger">
                X
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <hr />
    <div class="row mb-4 mt-2">
      <div class="col col-sm-3 justify-self-end">
        <button
          (mousedown)="onSubmit()"
          type="button"
          #submitButton
          class="btn btn-primary w-100">
          Guardar
        </button>
      </div>
      <div *ngIf="saveAlertMessage" class="col-8 col-sm9">
        <ngb-alert
          *ngIf="saveAlertMessage"
          #saveAlert
          [type]="saveAlertType"
          (closed)="onSaveAlertClose()"
          >{{ saveAlertMessage }}</ngb-alert
        >
      </div>
    </div>
    <div></div>
    <footer [ngStyle]="{ width: '100%', height: '10px' }"></footer>
  </form>
</div>
