<div class="container">
  <div class="row">
    <p class="display-6">Repositorios</p>
  </div>
  <div class="row">
    <p class="fs-5">Seleccione la lista que desee visualizar</p>
  </div>
  <div class="row">
    <div class="col">
      <button
        *ngFor="let collection of selectionOptions"
        class="btn btn-outline-success"
        [ngClass]="{ active: selection === collection }"
        (click)="onListChanged(collection)"
      >
        {{ collection }}
      </button>
    </div>
  </div>
  <div class="row">
    <div class="input-group mt-3" ngbDropdown>
      <button
        class="btn btn-outline-secondary dropdown-toggle"
        type="button"
        ngbDropdownToggle
      >
        Search by {{ selection }}
      </button>
      <div class="dropdown-menu" ngbDropdownMenu>
        <button
          class="dropdown-item"
          ngbDropdownItem
          (click)="onSearchTypeChange('id')"
        >
          ID
        </button>
        <button
          class="dropdown-item"
          ngbDropdownItem
          (click)="onSearchTypeChange('name')"
        >
          Name
        </button>
      </div>
      <input
        type="text border-radius-2"
        class="form-control"
        #input
        (input)="onSearch($event)"
        (keydown.enter)="input.blur()"
      />
    </div>
    <ng-container *ngIf="isDataLoaded">
      <app-card [collection]="selection" [list]="listToExport"></app-card>
    </ng-container>
  </div>
  <div class="row">
    <footer></footer>
  </div>
</div>
